body {
    background-color: darkgray;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-left: 10%;
    background-image: url("../Assets/images/Background.jpg") no-repeat right top;;
   
    
}

.game {
    width: 80%;
    margin: 0 auto;
}

